\version "2.24.1"
{% if preamble_template %}
{% include preamble_template %}
{% endif %}

\header {
  title      = \markup { \override #'( (font-name . "Garamond") (font-size . 2) )  "{{ title }}" }
  subtitle   = \markup { \override #'( (font-series . normal) (font-size . 0.25) ) \italic "{{ subtitle }}" }
  instrument = \markup { \override #'( (font-name . "Roboto") (font-size . 0.25) ) "({{ instrument_header }})" }
  composer   = "{{ composer }}"
  arranger   = \markup { \small "{{ arranger }}" }
  opus       = \markup { \tiny  "{{ opus }}" }
  tagline    = ##f    % no lilypond footer
  % tagline  = \markup { \abs-fontsize #8 { "Source:" { \italic "Name of Document," } "no.x"} }
}

\paper {
  system-system-spacing =
    #'((basic-distance   . 20 )
       (minimum-distance . 4  )
       (padding          . 2  )
       (stretchability   . 60 ))    % defaults: 12, 8, 1, 60
    #(set-paper-size "letter")
}

#(set-global-staff-size 24)

{% include score_template %}
